@import '../../App.scss';

.ThemeColor{
    background-color: none;
}
.nav-link{
    font-size: 30px;
    font-weight: 800;
    &:hover{
        color:white;
        background-color: $back-ground-color;
    }
}